<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - Todo</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/app.css">
</head>
<body>

<div class="container-fluid header  bg-dark">
    <div class="container">
        <div class="col-md-12">
            <nav class="navbar navbar-dark navbar-expand-lg">

                <button class="navbar-toggler" type="button"
                        data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">

                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto" id="nav-header">
                        <li class="nav-item">
                            @Html.ActionLink("Todo", "Index", "Todo", null, new {@class = "nav-link"})
                        </li>
                    </ul>


                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               id="alertsDropdown"
                               href="#"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">

                                @if (User.Identity.IsAuthenticated)
                                {
                                    @User.Identity.Name
                                }
                                else
                                {
                                    <span>Auth</span>
                                }

                            </a>
                            <div class="dropdown-menu">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    @Html.ActionLink("Logout", "Logout", "User", null, new {@class = "dropdown-item"})
                                }
                                else
                                {
                                    @Html.ActionLink("Login", "Login", "User", null, new {@class = "dropdown-item"})
                                    @Html.ActionLink("Register", "Register", "User", null, new {@class = "dropdown-item"})
                                }
                            </div>
                        </li>
                    </ul>


                </div>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    @RenderBody()
</div>

<environment names="Development">
    <script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/app.js"></script>
</environment>

@RenderSection("scripts", required: false)
</body>
</html>